.profile{
    width:100%;
    margin-left: unset;
}
.profile ul {
    list-style-type: none;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}
.profile ul > :nth-child(2n){  /*Les enfants directs de ul ne numéro pair*/
    background-color:rgb(50, 200, 150);  
}
.profile ul > :nth-child(2n+1){  /*Les enfants directs de ul ne numéro pair*/
    background-color:rgb(120, 230, 200);
}
.profile ul li {
    margin-left:auto;
    margin-right:auto;
    padding: 15px 10px 15px 15px;
} 
.profile ul li:hover {
    font-size:25px;
} 
.profile ul li span {
    display:inline-block;
    width:50%;
    margin-left: auto;
    margin-right:auto;
    text-align: left;
}
.profile ul li .profileLabel{
    font-weight: bolder;
}