.profile{
    width:100%;
    border:2px solid orange;
    margin-left: unset;
}
.profile ul {
    margin-right:5%;
    list-style-type: none;
}
.profile ul > :nth-child(2n){  /*Les enfants directs de ul ne numéro pair*/
    background-color:rgb(50, 200, 150);
}
.profile ul > :nth-child(2n+1){  /*Les enfants directs de ul ne numéro pair*/
    background-color:rgb(120, 230, 200);
}
.profile ul li {
    margin-left:auto;
    margin-right:auto;
    padding: 2% 1% 2% 1%;
} 
.profile ul li span {
    display:inline-block;
    width:50%;
    margin-left: auto;
    margin-right:auto;
    text-align: left;
}
.profile ul li .profileLabel{
    font-weight: bolder;
}