.welcomeText {
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.welcomeText img {
    width: 50%;
}
.welcomeText ul {
    list-style-image: url("/src/img/GladiatorHelmetMin.png");
    text-align: center;
}

