/* Import animation */
@keyframes example {
    0%   { left:-10%; top:0px;}
    25%  {left:10%; top:0px;}
    50%  { left:10%; top:100px;}
    75%  { left:-10%; top:100px;}
    100% {left:-10%; top:0px;}
}

.fact {
    font-family: "GreekFont";
    font-size:20px;
    font-weight:bold;
    margin-top:10px;
    text-align:center;
}
.gladanim {
    animation-delay: 2.5s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: example;
    margin-bottom: 100px;
    max-height: 400px;
    max-width: 400px;
    position: relative;
}
.numberOfSessions {
    font-family: "GreekFont";
    font-size:20px;
}