.App {
  text-align: center; /* Le texte est centré*/
  border : solid pink; /* Le bord est plein et rose  ....*/
  border-width: 20px; /* et fait 20px de large */
  border-radius: 5px; /* Permet d'arrondir les angles, plus c'est grand plus c'est arrondi */
  padding : 2%; /* Marge interne, le contenu ne peut pas s'approcher à moins de 2% de la taille du bloc du bord*/
  padding-top : 2px; /* La marge interne supérieure ne fait que 2px*/
  display:flex; /*Normalement le html met les blocs en colonne, cette commande permet d'être plus flexible dessus*/
  flex-direction: row-reverse;  /* Les enfants de App seront placés horizonalement dans l'ordre inverse de l'appartion dans le code*/
}
